<header class="flex justify-between items-center">
    <nav>
        <ul class="flex space-x-4">
            <li><a href="{{ route('home') }}" class="text-blue-500">Home</a></li>
            <li><a href="{{ route('about') }}" class="text-blue-500">About</a></li>
            <li><a href="{{ route('projects') }}" class="text-blue-500">Services</a></li>
            <li><a href="{{ route('contact') }}" class="text-blue-500">Contact</a></li>
        </ul>
    </nav>
</header>
