<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My page" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Vicente Lermanda's Webpage </title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
	</head>

	<body>
		<h1> Vicente Lermanda's Webpage </h1>
		<main>
		<image src="{{ url_for('static', filename='jigg.jpg')}}">
		<section class="info">
			<h2> About me </h2>
			<p> Me llamo Vicente Lermanda. Soy estudiante de Ingeniería Civil
				Informática de la Universidad de Concepción. <br> Cree esta página
				principalmente para práticar desarrollo de front-end y back-end
				junto con el uso de cloud computing, en este caso, AWS.
			</p>
		</section>
		<h2> Stuff </h2>
		<section class="list">
			<ul>
				<li> <a href="https://www.github.com/vlermandac">github repo</a> </li>
				<li> <a href="">Resumenes</a> </li>
				<li> <a href="">more stuff</a> </li>
			</ul>

		</section>
		</main>
	</body>

</html>
