<!DOCTYPE html>

<html>
	<head>
		<title> Lista B CAINF 2021</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<h1> Revisa nuestras propuestas! </h1>

		<section class="Deportes">
		<h2> Comisión de Deportes </h2>	
		<p>
			<ul>
				<li> <h3> Taller de Primeros Auxilios </h3> </li>
					<p>
						Invitaremos a alguien capacidato en esta área para que nos enseñe principios
						básicos y prácticos de primeros auxilios, tales como reconocimiento de signos vitales
						y reanimación.
					</p>
				<li> <h3> Torneo de E-sports </h3> </li>
					<p>
						Organizaremos torneos de diversos juegos de los cuales la carrera es fánaticos, con muchos
						premios y sorpresas.
					</p>
				<li> <h3> Clases de Yoga </h3> </li>
					<p>
						En el contexto de pandemia, el yoga se vuelve una herramienta muy útil para realizar actividad
						física en un espacio reducido, liberar estrés y en general mejorar nuestra calidad de vida.
					</p>
				<li> <h3> Campaña de Pausas Activas </h3> </li>
				<li> <h3> Clases de Cueca para Fiestas Patrias* </h3> </li>
				<li> <h3> Torneo de Baby Fútbol* </h3> </li>

			</ul>
		</p>
		</section>

		<section class="RRSS">
		<h2> Comisión de Redes Sociales </h2>	
		<p>
			<ul>
				<li> <h3> Actividad 1 </h3> </li>
				<li> <h3> Actividad 2 </h3> </li>
				<li> <h3> Actividad 3 </h3> </li>

			</ul>
		</p>
		</section>

		<section class="Actividades">
		<h2> Comisión de Actividades </h2>	
		<p>
			<ul>
				<li> <h3> Actividad 1 </h3> </li>
				<li> <h3> Actividad 2 </h3> </li>
				<li> <h3> Actividad 3 </h3> </li>

			</ul>
		</p>
		</section>

		<section class="Equidad">
		<h2> Comisión de Diversidad y Equidad de Género </h2>	
		<p>
			<ul>
				<li> <h3> Actividad 1 </h3> </li>
				<li> <h3> Actividad 2 </h3> </li>
				<li> <h3> Actividad 3 </h3> </li>

			</ul>
		</p>
		</section>


	</body>
</html>
